# Dependencias
node_modules/

# Archivos de entorno
.env*
info.txt
Tareas.txt

# Logs
logs/
*.log
npm-debug.log*

# Directorios de cache
.npm/
.cache/

# Archivos del sistema
.DS_Store
Thumbs.db


# Archivos de configuración de editores (opcional)
.vscode/
.idea/