services:
  api:
    build: .
    ports:
      - "8080:8080"
    env_file:
      - .env.docker
    depends_on:
      - mongo
  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo-data:/data/db
volumes:
  mongo-data: